

/* Umumiy codlar */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}
:root {
	--color-black: #1A1A1A;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
}